Source: 
Section: libs
Priority: optional
Maintainer: OpenClovisInc <http://www.openclovis.com/blog>
Standards-Version: 3.9.4
Homepage: http://www.openclovis.com
Vcs-Git: http://github.com/OpenClovis/SAFplus-Availability-Scalability-Platform.git
Vcs-Browser: https://github.com/OpenClovis/SAFplus-Availability-Scalability-Platform.git

Package: 
Architecture: 
Section: libs
Priority: optional
Depends: libprotobuf-lite8, libboost1.55-dev, libgdbm3
Description: SAFplus is SA-Forum API compatible  middleware 
 SAFplus is SA-Forum API compatible middleware that provides High 
 Availability (HA), System Management, and other services, addressing 
 the infrastructure needs of complex devices found in the telecom, 
 defense, financial and server cluster appliance (MMORPG gaming, etc)
 markets
