<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.clovis.cw.workspace"
   name="OpenClovis Workspace Plug-in"
   version="3.0"
   provider-name="OpenClovis"
   class="com.clovis.cw.workspace.WorkspacePlugin">

   <runtime>
      <library name="com.clovis.cw.workspace.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
   	  <import plugin="org.eclipse.ui"/>	
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.emf"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="com.clovis.common.utils"/>
      <import plugin="com.clovis.cw.data"/>
      <import plugin="com.clovis.cw.genericeditor"/>
      <import plugin="com.clovis.cw.licensing"/>
      <import plugin="org.eclipse.draw2d"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.apache.ant"/>
      <import plugin="com.clovis.cw.editor.ca"/>
      <import plugin="org.eclipse.ui.console"/>
      <import plugin="org.eclipse.cdt"/>
      <import plugin="org.eclipse.cdt.core"/>
      <import plugin="org.eclipse.cdt.debug.core"/>
      <import plugin="org.eclipse.cdt.debug.ui"/>
      <import plugin="org.eclipse.cdt.launch"/>
      <import plugin="org.eclipse.cdt.make.core"/>
      <import plugin="org.eclipse.cdt.make.ui"/>
      <import plugin="org.eclipse.cdt.managedbuilder.core"/>
      <import plugin="org.eclipse.cdt.managedbuilder.gnu.ui"/>
      <import plugin="org.eclipse.cdt.managedbuilder.ui"/>
      <import plugin="org.eclipse.cdt.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Clovis Workspace"
            icon="icons/sample.gif"
            category="com.clovis.cw.bootmanager"
            class="com.clovis.cw.workspace.ClovisNavigator"
            id="com.clovis.cw.workspace.clovisWorkspaceView">
      </view>
       <category
            name="Clovis"
            id="com.clovis.cw.bootmanager">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Model Problems"
            icon="icons/validate_report.gif"
            category="com.clovis.cw.bootmanager"
            class="com.clovis.cw.workspace.ProblemsView"
            id="com.clovis.cw.workspace.problemsView">
      </view>
       <view
             category="com.clovis.cw.bootmanager"
             class="com.clovis.cw.workspace.modelTemplate.ModelTemplateView"
             icon="icons/modelTemplateView.png"
             id="com.clovis.cw.workspace.modelTemplateView"
             name="Model Template"/>
       <category
            name="Clovis"
            id="com.clovis.cw.bootmanager">
      </category>
   </extension>
<extension point="org.eclipse.ui.ide.resourceFilters">
<filter
      selected="true"
      pattern="configs"/>
<filter
      selected="true"
      pattern="models"/>      
</extension> 

     <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   
   <extension point="org.eclipse.ui.perspectives">
      <perspective name="OpenClovis IDE"
            icon="icons/cw_persp.gif"
            class="com.clovis.cw.workspace.project.CWPerspectiveFactory"
            id="com.clovis.cw.ui.CWPerspective">
      </perspective>
   </extension>
  
   <extension point="org.eclipse.ui.newWizards">
      <category
            name="Clovis"
            id="com.clovis.cw.workspace">
      </category>
      <wizard name="Clovis System Project"
            icon="icons/cw_persp.gif"
            category="com.clovis.cw.workspace"
            class="com.clovis.cw.workspace.project.ClovisProjectCreationWizard"
            project="true"
            finalPerspective="com.clovis.cw.ui.CWPerspective"
            id="com.clovis.cw.ui.wizards.simple">
         <description>
             Create a Clovis System Project
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            class="com.clovis.cw.workspace.project.CwProjectPropertyPage"
            name="Clovis System Project"
            id="com.clovis.cw.workspace.project.CwProjectPropertyPage"
      		adaptable="true">
      		<filter
               name="projectNature"
               value="com.clovis.cw.workspace.natures.SystemProjectNature">
         	</filter>
      </page>      
   </extension>
   <extension
         id="builders.ClovisBuilder"
         name="Clovis Builder"
         point="org.eclipse.core.resources.builders">

      <builder isConfigurable="true">
      	<run class="com.clovis.cw.workspace.builders.ClovisBuilder">
      	  <parameter name="optimize" value="true"/>
      	</run>
      </builder>
   </extension>
   <extension
         id="natures.SystemProjectNature"
         name="System Project Nature"
         point="org.eclipse.core.resources.natures">
	  <runtime>	
      	<run class="com.clovis.cw.workspace.natures.SystemProjectNature">
      	  <parameter name="optimize" value="true"/>
      	</run>
      </runtime>		
   </extension>
   <extension
         id="builders.ApplicationSourceBuilder"
         name="Application Source Builder"
         point="org.eclipse.core.resources.builders">

      <builder isConfigurable="true">
      	<run class="com.clovis.cw.workspace.builders.ApplicationSourceBuilder">
      	  <parameter name="optimize" value="true"/>
      	</run>
      </builder>
   </extension>
   <extension
         id="natures.ApplicationSourceNature"
         name="System Project Nature"
         point="org.eclipse.core.resources.natures">
	  <runtime>	
      	<run class="com.clovis.cw.workspace.natures.ApplicationSourceNature">
      	  <parameter name="optimize" value="true"/>
      	</run>
      </runtime>		
   </extension>
	<extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
         id="com.clovis.cw.workspace.clovis.popup1"
         targetID="com.clovis.cw.workspace.clovisWorkspaceView">
         <action id="com.clovis.cw.workspace.clovis.clovisMenu.app"
            label="&amp;Create CDT Project(s)"
            icon="icons/cdt.png"
            menubarPath="clovis.build"
			definitionId="com.clovis.cw.workbench.command.app"
            class="com.clovis.cw.workspace.action.ApplicationProjectAction"
            enablesFor="1"/>
         <action id="com.clovis.cw.workspace.clovis.clovisMenu.reload"
            label="&amp;Reload Project"
            icon="icons/reload.gif"
            menubarPath="clovis.build"
			definitionId="com.clovis.cw.workbench.command.reload"
            class="com.clovis.cw.workspace.action.ReLoadProjectAction"
            enablesFor="1"/>
         <action id="com.clovis.cw.workspace.clovis.clovisMenu.deploy"
            label="&amp;Deploy Image(s)..."
            icon="icons/snmp_export.gif"
            menubarPath="clovis.build"
            definitionId="com.clovis.cw.workbench.command.deploy"
            class="com.clovis.cw.workspace.action.DeployAction"
            enablesFor = "1">
		   </action>   
         <action id="com.clovis.cw.workspace.clovis.clovisMenu.images"
            label="&amp;Make Image(s)..."
            icon="icons/update_script.gif"
            menubarPath="clovis.build"
            definitionId="com.clovis.cw.workbench.command.images"
            class="com.clovis.cw.workspace.action.MakeImagesAction"
            enablesFor = "1">
		   </action>
         <action id="com.clovis.cw.workspace.clovis.clovisMenu.generate"
            label="&amp;Generate Source"
            icon="icons/generate-source-code.gif"
            menubarPath="clovis.build"
			definitionId="com.clovis.cw.workbench.command.generate"
            class="com.clovis.cw.workspace.action.GenerateSourceAction"
            enablesFor="1"/>                
         
         <!--action id="com.clovis.cw.workspace.clovis.clovisMenu.configure"
            label="&amp;Configure..."
            icon="icons/configure_project.png"
            menubarPath="clovis.build"
			definitionId="com.clovis.cw.workbench.command.configure"
            class="com.clovis.cw.workspace.action.ConfigureAction"
            enablesFor="1"/-->
          <action
	         id="com.clovis.cw.workspace.ValidateProjectAction" 
	         label="&amp;Validate Project"
	         icon="icons/validate_report.gif"
	         menubarPath="clovis.build" 
	         class="com.clovis.cw.workspace.action.ValidateProjectAction"
	         definitionId="com.clovis.cw.workbench.command.validate"
	      enablesFor="1"/>      
      </viewerContribution>
    </extension>     
	<extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
         id="com.clovis.cw.workspace.clovis.popup"
         targetID="com.clovis.cw.workspace.clovisWorkspaceView">
         <menu id="com.clovis.cw.workspace.clovis.clovisMenu"
               path="org.eclipse.ui.IWorkbenchActionConstants.MB_ADDITIONS"
               label="&amp;Clovis">
            <separator name="group1"/>               
            <separator name="group2"/>
			<separator name="group3"/>
			<separator name="group4"/>
			<separator name="group5"/>
			<separator name="group6"/>
			<separator name="group7"/>
         </menu>
       <action
	        id="com.clovis.cw.workspace.AddAlarmAction" 
	        label="A&amp;larm Profile..."
	        icon="icons/alarm_profile.gif"
	        menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group1" 
	        class="com.clovis.cw.workspace.action.AddAlarmProfileAction"
	        definitionId="com.clovis.cw.workbench.command.alarmprofile"
            enablesFor="1"/>        
       <action
            id="com.clovis.cw.workspace.OpenPMEditorAction" 
            label="&amp;Performance Monitoring Editor"
			icon="icons/pm.png"
            menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group1" 
            class="com.clovis.cw.workspace.action.OpenPMEditorAction"
            definitionId="com.clovis.cw.workbench.command.pm"
            enablesFor="1"/>
       <action
            id="com.clovis.cw.workspace.ManageabilityConfigurationAction" 
            label="&amp;Manageability Editor"
			icon="icons/manageability.png"
            menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group1" 
            class="com.clovis.cw.workspace.action.ManageabilityConfigurationAction"
            definitionId="com.clovis.cw.workbench.command.associateResource"
            enablesFor="1"/>  
	   <action
	         id="com.clovis.cw.workspace.ComponentEditorAction" 
	         label="&amp;Component Editor"
	         icon="icons/component_editor.gif"
	         menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group1" 
	         class="com.clovis.cw.workspace.action.OpenComponentEditorAction"
	         definitionId="com.clovis.cw.workbench.command.component"
	      enablesFor="1"/>            
	   <action
	         id="com.clovis.cw.workspace.clovisEditorAction" 
	         label="&amp;Resource Editor"
	         icon="icons/resource_editor.gif"
	         menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group1" 
	         class="com.clovis.cw.workspace.action.OpenResourceEditorAction"
	         definitionId="com.clovis.cw.workbench.command.resource"
	      enablesFor="1"/>
	   <action
            id="com.clovis.cw.workspace.IDLAction" 
            label="Remote Method &amp;Definitions..."
            icon="icons/idl_definition.gif"
            menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group2" 
            class="com.clovis.cw.workspace.action.IDLAction"
            definitionId="com.clovis.cw.workbench.command.idl"
            enablesFor="1"/>        
	   <action
            id="com.clovis.cw.workspace.NodeProfileAction" 
            label="&amp;AMF Configuration..."
			icon="icons/amf_configuration.gif"
            menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group2" 
            class="com.clovis.cw.workspace.action.NodeProfileAction"
            definitionId="com.clovis.cw.workbench.command.nodeprofile"
            enablesFor="1"/>		            
	   <action
            id="com.clovis.cw.workspace.EOConfigurationAction" 
            label="&amp;EO Configuration..."
			icon="icons/eo_configuration.png"
            menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group2" 
            class="com.clovis.cw.workspace.action.EOConfigurationAction"
            definitionId="com.clovis.cw.workbench.command.eoConfiguration"
            enablesFor="1"/>		            
	   <action
            id="com.clovis.cw.workspace.MemoryConfigurationAction" 
            label="&amp;EO Definitions ..."
			icon="icons/memory_configuration.png"
            menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group2" 
            class="com.clovis.cw.workspace.action.MemoryConfigurationAction"
            definitionId="com.clovis.cw.workbench.command.memoryConfiguration"
            enablesFor="1"/>		            
	   <action
            label="AS&amp;P Component Configuration.."
            icon="icons/asp_configuration.gif"
	        class="com.clovis.cw.workspace.action.OpenBootConfigurationAction"
	        id="com.clovis.cw.workspace.bootConfigurationsAction"
	        definitionId="com.clovis.cw.workbench.command.boot"
	        menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group2" 
	        enablesFor="1"/>
	   <!--action
            label="&amp;SNMP Export..."
            icon="icons/snmp_export.gif"
	        class="com.clovis.cw.workspace.action.SNMPExportAction"
	        id="com.clovis.cw.workspace.snmpexportAction"
	        definitionId="com.clovis.cw.workbench.command.snmp.export"
	        menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group3" 
	        enablesFor="1"/-->                 
	    <!--<action id="com.clovis.cw.workspace.clovis.clovisMenu.generateall"
            label="&amp;Generate All"
            icon="icons/update_script.gif"
            menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group6"
			definitionId="com.clovis.cw.workbench.command.generateall"
            class="com.clovis.cw.workspace.action.GenerateAllAction"
         enablesFor="1"/-->  
	    
         <action id="com.clovis.cw.workspace.clovis.clovisMenu.migrate"
			   menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group6"
			   label="&amp;Migrate Project"
			   icon="icons/migration.png"
			   class="com.clovis.cw.workspace.action.MigrateProjectAction"
			   definitionId="com.clovis.cw.workbench.command.migrate"
			   enablesFor = "*">
		  </action>
         
        <action id="com.clovis.cw.workspace.clovis.clovisMenu.associateTemplateGroup"
            label="A&amp;ssociate Template Group..."
            icon="icons/associate_templateGroup.png"
            menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group4"
			definitionId="com.clovis.cw.workbench.command.associateTemplateGroup"
            class="com.clovis.cw.workspace.action.AssociateTemplateGroupAction"
         enablesFor="1"/>      
		  <action id="com.clovis.cw.workspace.clovis.clovisMenu.TemplateGroupConfiguration"
            label="Manage &amp;Template Group..."
            icon="icons/manage_templateGroup.png"
            menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group4"
			definitionId="com.clovis.cw.workbench.command.TemplateGroupConfiguration"
            class="com.clovis.cw.workspace.action.TemplateGroupConfigurationAction"
         enablesFor="1"/>
         <action
            label="Im&amp;port MIB objects.."
            icon="icons/import_mib.gif"
	        class="com.clovis.cw.workspace.action.ImportMibAction"
	        id="com.clovis.cw.workspace.ImportMibAction"
	        definitionId="com.clovis.cw.workbench.command.importMib"
	        menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group5" 
	        enablesFor="1"/>
         <action
            label="Import &amp;Application.."
            icon="icons/import_application.png"
	        class="com.clovis.cw.workspace.action.ImportApplicationAction"
	        id="com.clovis.cw.workspace.ImportApplicationAction"
	        definitionId="com.clovis.cw.workbench.command.importApplication"
	        menubarPath="com.clovis.cw.workspace.clovis.clovisMenu/group5" 
	        enablesFor="1"/>
        </viewerContribution>
     </extension>
     
     <extension point="org.eclipse.ui.bindings">
        <key
        	sequence="Shift+Ctrl+C"
            commandId="com.clovis.cw.workbench.command.component"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Shift+Ctrl+Z"
            commandId="com.clovis.cw.workbench.command.resource"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
              sequence="Shift+Ctrl+P"
              commandId="com.clovis.cw.workbench.command.pm"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Shift+Ctrl+Y"
            commandId="com.clovis.cw.workbench.command.boot"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <!--key
        	sequence="Ctrl+Alt+E"
            commandId="com.clovis.cw.workbench.command.snmp.export"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key-->
        <key
        	sequence="Shift+Ctrl+L"
            commandId="com.clovis.cw.workbench.command.alarmprofile"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Shift+Ctrl+A"
            commandId="com.clovis.cw.workbench.command.nodeprofile"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Shift+Ctrl+Q"
            commandId="com.clovis.cw.workbench.command.associateResource"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Shift+Ctrl+X"
            commandId="com.clovis.cw.workbench.command.eoConfiguration"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Shift+Ctrl+M"
            commandId="com.clovis.cw.workbench.command.memoryConfiguration"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Shift+Ctrl+I"
            commandId="com.clovis.cw.workbench.command.idl"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Shift+Ctrl+V"
            commandId="com.clovis.cw.workbench.command.validate"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Ctrl+Alt+J"
            commandId="com.clovis.cw.workbench.command.reload"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Ctrl+Alt+S"
            commandId="com.clovis.cw.workbench.command.generate"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Ctrl+Alt+C"
            commandId="com.clovis.cw.workbench.command.app"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <!--key
        	sequence="Shift+Ctrl+A"
            commandId="com.clovis.cw.workbench.command.configure"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key-->
        <!--key
        	sequence="Shift+Ctrl+A"
            commandId="com.clovis.cw.workbench.command.generateall"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key-->
        <key
        	sequence="Ctrl+Alt+M"
            commandId="com.clovis.cw.workbench.command.migrate"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Shift+Ctrl+D"
            commandId="com.clovis.cw.workbench.command.deploy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Shift+Ctrl+K"
            commandId="com.clovis.cw.workbench.command.images"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <!--key
        	sequence="Shift+Ctrl+X"
            commandId="com.clovis.cw.workbench.command.importxml"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key-->
        <key
        	sequence="Ctrl+Alt+T"
            commandId="com.clovis.cw.workbench.command.TemplateGroupConfiguration"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Ctrl+Alt+A"
            commandId="com.clovis.cw.workbench.command.associateTemplateGroup"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key
        	sequence="Ctrl+Alt+I"
            commandId="com.clovis.cw.workbench.command.importMib"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>        
     </extension>
   	 
   	 <extension point="org.eclipse.ui.commands">
     	<command
        	name="Component Editor"
            description="Component Editor Command"
            id="com.clovis.cw.workbench.command.component">
     	</command>
       	<command
        	name="Resource Editor"
            description="Resource Editor Command"
            id="com.clovis.cw.workbench.command.resource">
     	</command>
        <command
              description="Performance Monitoring Editor Command"
              id="com.clovis.cw.workbench.command.pm"
              name="Performance Monitoring Editor">
        </command>
       	<command
        	name="Boot Configurations"
            description="Boot Configurations Command"
            id="com.clovis.cw.workbench.command.boot">
     	</command>
       	<command
        	name="Build Configurations"
            description="Build Configurations Command"
            id="com.clovis.cw.workbench.command.build">
     	</command>
       	<command
        	name="Alarm Profile"
            description="Alarm Profile Command"
            id="com.clovis.cw.workbench.command.alarmprofile">
     	</command>
     	<!--command
        	name="SNMP Export"
            description="SNMP Export Command"
            id="com.clovis.cw.workbench.command.snmp.export">
     	</command-->
       	<command
        	name="Node Profile"
            description="Node Profile Command"
            id="com.clovis.cw.workbench.command.nodeprofile">
     	</command>
     	<command
        	name="Associate Resource"
            description="Associate Resource Command"
            id="com.clovis.cw.workbench.command.associateResource">
     	</command>
     	<command
        	name="EO Configuration"
            description="EO Configuration Command"
            id="com.clovis.cw.workbench.command.eoConfiguration">
     	</command>
       	<command
        	name="EO Definition "
            description="Memory Configuration Command"
            id="com.clovis.cw.workbench.command.memoryConfiguration">
     	</command>
     	<command
        	name="IDL"
            description="IDL Command"
            id="com.clovis.cw.workbench.command.idl">
     	</command>
     	<command
        	name="Validate"
            description="Validate Command"
            id="com.clovis.cw.workbench.command.validate">
     	</command>
     	<command
        	name="Reload"
            description="Reload Command"
            id="com.clovis.cw.workbench.command.reload">
     	</command>
     	<command
        	name="Generate"
            description="Generate Command"
            id="com.clovis.cw.workbench.command.generate">
     	</command>
     	<command
        	name="Create CDT Project(s)"
            description="Create CDT Project(s) Command"
            id="com.clovis.cw.workbench.command.app">
     	</command>
     	<!--command
        	name="Configure"
            description="Configure Command"
            id="com.clovis.cw.workbench.command.configure">
     	</command-->
     	<!--command
        	name="Generate All"
            description="Generate All Command"
            id="com.clovis.cw.workbench.command.generateall">
     	</command-->
     	<command
        	name="Migrate"
            description="Migrate Command"
            id="com.clovis.cw.workbench.command.migrate">
     	</command>
     	<command
        	name="Deploy"
            description="Deploy Command"
            id="com.clovis.cw.workbench.command.images">
     	</command>
     	<command
        	name="Deploy"
            description="Deploy Command"
            id="com.clovis.cw.workbench.command.deploy">
     	</command>
     	<!--command
        	name="ImportXML"
            description="Import XML files into project"
            id="com.clovis.cw.workbench.command.importxml">
     	</command-->
     	<command
        	name="Template Group Configuration"
            description="Template Group Configuration"
            id="com.clovis.cw.workbench.command.TemplateGroupConfiguration">
     	</command>
     	<command
        	name="Associate Template Group"
            description="Associate Template Group"
            id="com.clovis.cw.workbench.command.associateTemplateGroup">
     	</command>
     	<command
        	name="Import Applications"
            description="Import Applications"
            id="com.clovis.cw.workbench.command.importApplication">
     	</command>        	
     	<command
        	name="Import MIB objects"
            description="Import MIB objects/notifications"
            id="com.clovis.cw.workbench.command.importMib">
     	</command>        	
     </extension>
     
   	 <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="com.clovis.cw.actionSet"
		   label="Clovis Action Set"
		   visible="false">
		   <menu id="com.clovis.cw.menu.clovis"
			   label="&amp;Clovis"> 
			   <separator name="slot1"/>
			   <separator name="slot2"/>
			   <separator name="slot3"/>
			   <separator name="slot4"/>
			   <separator name="slot5"/>
			   <separator name="slot6"/>
		   </menu>
		   <action id="com.clovis.cw.menu.clovis.alarmprofile"
			   menubarPath="com.clovis.cw.menu.clovis/slot1"
			   toolbarPath="com.clovis.cw.menu.clovis/slot1"
			   tooltip="Alarm Profile"
			   label="A&amp;larm Profile..."
			   icon="icons/alarm_profile.gif"
			   class="com.clovis.cw.workspace.action.AddAlarmProfileAction"
			   definitionId="com.clovis.cw.workbench.command.alarmprofile"
			   enablesFor = "1">
		   </action>
		    <action id="com.clovis.cw.menu.clovis.editor.pm"
			   menubarPath="com.clovis.cw.menu.clovis/slot1"
			   toolbarPath="com.clovis.cw.menu.clovis/slot1"
			   tooltip="Performance Monitoring Editor" 	
			   label="&amp;Performance Monitoring Editor"
			   icon="icons/pm.png"
			   class="com.clovis.cw.workspace.action.OpenPMEditorAction"
			   definitionId="com.clovis.cw.workbench.command.pm"
			   enablesFor = "1">
		   </action>
		    <action id="com.clovis.cw.menu.clovis.associateResource"
			   menubarPath="com.clovis.cw.menu.clovis/slot1"
			   toolbarPath="com.clovis.cw.menu.clovis/slot1"
			   tooltip="Manageability Editor" 	
			   label="&amp;Manageability Editor"
			   icon="icons/manageability.png"
			   class="com.clovis.cw.workspace.action.ManageabilityConfigurationAction"
			   definitionId="com.clovis.cw.workbench.command.associateResource"
			   enablesFor = "1">
		   </action>
		   <action id="com.clovis.cw.menu.clovis.editor.component"
			   menubarPath="com.clovis.cw.menu.clovis/slot1"
			   toolbarPath="com.clovis.cw.menu.clovis/slot1"
			   tooltip="Component Editor"
			   label="&amp;Component Editor"
			   icon="icons/component_editor.gif"
			   class="com.clovis.cw.workspace.action.OpenComponentEditorAction"
			   definitionId="com.clovis.cw.workbench.command.component"
			   enablesFor = "1">
		   </action>
		   <action id="com.clovis.cw.menu.clovis.editor.resource"
			   menubarPath="com.clovis.cw.menu.clovis/slot1"
			   toolbarPath="com.clovis.cw.menu.clovis/slot1"
			   tooltip="Resource Editor"	
			   label="&amp;Resource Editor"
			   icon="icons/resource_editor.gif"
			   class="com.clovis.cw.workspace.action.OpenResourceEditorAction"
			   definitionId="com.clovis.cw.workbench.command.resource"
			   enablesFor = "1">
		   </action>
		   <action id="com.clovis.cw.menu.clovis.idl"
			   menubarPath="com.clovis.cw.menu.clovis/slot2"
			   toolbarPath="com.clovis.cw.menu.clovis/slot2"
			   tooltip="Remote Method Definitions"
			   label="Remote Method &amp;Definitions..."
			   icon="icons/idl_definition.gif"
			   class="com.clovis.cw.workspace.action.IDLAction"
			   definitionId="com.clovis.cw.workbench.command.idl"
			   enablesFor = "1">
		   </action>
		   <action id="com.clovis.cw.menu.clovis.nodeprofile"
			   menubarPath="com.clovis.cw.menu.clovis/slot2"
			   toolbarPath="com.clovis.cw.menu.clovis/slot2"
			   tooltip="AMF Configuration" 	
			   label="&amp;AMF Configuration..."
			   icon="icons/amf_configuration.gif"
			   class="com.clovis.cw.workspace.action.NodeProfileAction"
			   definitionId="com.clovis.cw.workbench.command.nodeprofile"
			   enablesFor = "1">
		   </action>
		   <action id="com.clovis.cw.menu.clovis.eoConfiguration"
			   menubarPath="com.clovis.cw.menu.clovis/slot2"
			   toolbarPath="com.clovis.cw.menu.clovis/slot2"
			   tooltip="EO Configuration" 	
			   label="&amp;EO Configuration..."
			   icon="icons/eo_configuration.png"
			   class="com.clovis.cw.workspace.action.EOConfigurationAction"
			   definitionId="com.clovis.cw.workbench.command.eoConfiguration"
			   enablesFor = "1">
		   </action>
		   <action id="com.clovis.cw.menu.clovis.memoryConfiguration"
			   menubarPath="com.clovis.cw.menu.clovis/slot2"
			   toolbarPath="com.clovis.cw.menu.clovis/slot2"
			   tooltip="EO Definitions" 	
			   label="&amp;EO Definitions ..."
			   icon="icons/memory_configuration.png"
			   class="com.clovis.cw.workspace.action.MemoryConfigurationAction"
			   definitionId="com.clovis.cw.workbench.command.memoryConfiguration"
			   enablesFor = "1">
		   </action>
		   <action id="com.clovis.cw.menu.clovis.boot"
			   menubarPath="com.clovis.cw.menu.clovis/slot2"
			   toolbarPath="com.clovis.cw.menu.clovis/slot2"
			   tooltip="ASP Component Configuration"
			   label="AS&amp;P Component Configuration..."
			   icon="icons/asp_configuration.gif"
			   class="com.clovis.cw.workspace.action.OpenBootConfigurationAction"
			   definitionId="com.clovis.cw.workbench.command.boot"
			   enablesFor = "1">
		   </action>
		   <!--action id="com.clovis.cw.menu.clovis.snmp.export"
			   menubarPath="com.clovis.cw.menu.clovis/slot3"
			   toolbarPath="com.clovis.cw.menu.clovis/slot3"
			   tooltip="SNMP Export"
			   label="&amp;SNMP Export..."
			   icon="icons/snmp_export.gif"
			   class="com.clovis.cw.workspace.action.SNMPExportAction"
			   definitionId="com.clovis.cw.workbench.command.snmp.export"
			   enablesFor = "1">
			   <selection class="org.eclipse.core.resources.IProject"/>
		   </action-->
		   <!--action id="com.clovis.cw.menu.clovis.generateall"
			   menubarPath="com.clovis.cw.menu.clovis/slot6"
			   toolbarPath="com.clovis.cw.menu.clovis/slot6"
			   tooltip="Generate Source for all Projects"
			   label="&amp;Generate All"
			   icon="icons/update_script.gif"
			   class="com.clovis.cw.workspace.action.GenerateAllAction"
			   definitionId="com.clovis.cw.workbench.command.generateall"
			   enablesFor = "1">
			   <selection class="org.eclipse.core.resources.IProject"/>
		   </action-->
		   <action id="com.clovis.cw.menu.clovis.app"
			   menubarPath="project/additions"
			   toolbarPath="com.clovis.cw.menu.clovis/slot6"
			   tooltip="Create CDT Project(s)"
			   label="&amp;Create CDT Project(s)"
			   icon="icons/cdt.png"
			   class="com.clovis.cw.workspace.action.ApplicationProjectAction"
			   definitionId="com.clovis.cw.workbench.command.app"
			   enablesFor = "1">
		  </action>
		   <action id="com.clovis.cw.menu.clovis.reload"
			   menubarPath="project/additions"
			   toolbarPath="com.clovis.cw.menu.clovis/slot6"
			   tooltip="Reload Project"
			   label="&amp;Reload Project"
			   icon="icons/reload.gif"
			   class="com.clovis.cw.workspace.action.ReLoadProjectAction"
			   definitionId="com.clovis.cw.workbench.command.reload"
			   enablesFor = "1">
		  </action>
		  <action id="com.clovis.cw.menu.clovis.deploy"
			   menubarPath="project/additions"
			   toolbarPath="com.clovis.cw.menu.clovis/slot6"
			   tooltip="Deploy images to target machine"
			   label="&amp;Deploy Image(s)..."
			   icon="icons/snmp_export.gif"
			   class="com.clovis.cw.workspace.action.DeployAction"
			   definitionId="com.clovis.cw.workbench.command.deploy"
			   enablesFor = "*">
		   </action>
		   <action id="com.clovis.cw.menu.clovis.images"
			   menubarPath="project/additions"
			   toolbarPath="com.clovis.cw.menu.clovis/slot6"
			   tooltip="Make Image"
			   label="&amp;Make Image(s)..."
			   icon="icons/update_script.gif"
			   class="com.clovis.cw.workspace.action.MakeImagesAction"
			   definitionId="com.clovis.cw.workbench.command.images"
			   enablesFor = "1">
		   </action>
		   <action id="com.clovis.cw.menu.clovis.generate"
			   menubarPath="project/additions"
			   toolbarPath="com.clovis.cw.menu.clovis/slot6"
			   tooltip="Generate Source for selected Project"
			   label="&amp;Generate Source"
			   icon="icons/generate-source-code.gif"
			   class="com.clovis.cw.workspace.action.GenerateSourceAction"
			   definitionId="com.clovis.cw.workbench.command.generate"
			   enablesFor = "1">
		   </action>
		   <!--action id="com.clovis.cw.menu.clovis.configure"
			   menubarPath="project/additions"
			   toolbarPath="com.clovis.cw.menu.clovis/slot6"
			   tooltip="Configure Project"
			   label="&amp;Configure..."
			   icon="icons/configure_project.png"
			   class="com.clovis.cw.workspace.action.ConfigureAction"
			   definitionId="com.clovis.cw.workbench.command.configure"
			   enablesFor = "1">
		  </action-->
		  <action id="com.clovis.cw.menu.clovis.validate"
			   menubarPath="project/additions"
			   toolbarPath="com.clovis.cw.menu.clovis/slot6"
			   tooltip="Validate Project"
			   label="&amp;Validate Project"
			   icon="icons/validate_report.gif"
			   class="com.clovis.cw.workspace.action.ValidateProjectAction"
			   definitionId="com.clovis.cw.workbench.command.validate"
			   enablesFor = "1">
		   </action>
		  <action id="com.clovis.cw.menu.clovis.migrate"
			   menubarPath="com.clovis.cw.menu.clovis/slot6"
			   toolbarPath="com.clovis.cw.menu.clovis/slot6"
			   tooltip="Migrate Project from old version to new version"
			   label="&amp;Migrate Project"
			   icon="icons/migration.png"
			   class="com.clovis.cw.workspace.action.MigrateProjectAction"
			   definitionId="com.clovis.cw.workbench.command.migrate"
			   enablesFor = "*">
		  </action>
		  <action id="com.clovis.cw.menu.clovis.associateTemplateGroup"
			   menubarPath="com.clovis.cw.menu.clovis/slot4"
			   toolbarPath="com.clovis.cw.menu.clovis/slot4"
			   tooltip="Associate Component to Template Group"
			   label="A&amp;ssociate Template Group..."
			   icon="icons/associate_templateGroup.png"
			   class="com.clovis.cw.workspace.action.AssociateTemplateGroupAction"
			   definitionId="com.clovis.cw.workbench.command.associateTemplateGroup"
			   enablesFor = "1">
		   </action>
		  <action id="com.clovis.cw.menu.clovis.TemplateGroupConfiguration"
			   menubarPath="com.clovis.cw.menu.clovis/slot4"
			   toolbarPath="com.clovis.cw.menu.clovis/slot4"
			   tooltip="Manage Template Group"
			   label="Manage &amp;Template Group..."
			   icon="icons/manage_templateGroup.png"
			   class="com.clovis.cw.workspace.action.TemplateGroupConfigurationAction"
			   definitionId="com.clovis.cw.workbench.command.TemplateGroupConfiguration"
			   enablesFor = "1">
		   </action>
		   <action id="com.clovis.cw.menu.clovis.importMib"
			   menubarPath="com.clovis.cw.menu.clovis/slot5"
			   toolbarPath="com.clovis.cw.menu.clovis/slot5"
			   tooltip="Import Mib Objects"
			   label="Im&amp;port Mib Objects..."
			   icon="icons/import_mib.gif"
			   class="com.clovis.cw.workspace.action.ImportMibAction"
			   definitionId="com.clovis.cw.workbench.command.importMib"
			   enablesFor = "1">
		   </action>
		   <action id="com.clovis.cw.menu.clovis.importApplication"
			   menubarPath="com.clovis.cw.menu.clovis/slot5"
			   toolbarPath="com.clovis.cw.menu.clovis/slot5"
			   tooltip="Import Application"
			   label="Import &amp;Applications..."
			   icon="icons/import_application.png"
			   class="com.clovis.cw.workspace.action.ImportApplicationAction"
			   definitionId="com.clovis.cw.workbench.command.importApplication"
			   enablesFor = "1">
		   </action>
	   </actionSet>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
   	<perspectiveExtension
   		targetID="com.clovis.cw.ui.CWPerspective">
   		<actionSet id="com.clovis.cw.actionSet"/>
   	</perspectiveExtension>	
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.cdt.launch.internal.LocalRunLaunchDelegate"
            id="com.clovis.cw.workspace.aspAppLaunch"
            modes="debug,run"
            name="OpenClovis ASP Application"
            public="true"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.cdt.launch.internal.ui.LocalRunLaunchConfigurationTabGroup"
            id="com.clovis.cw.workspace.aspAppLaunchTabGroup"
            type="com.clovis.cw.workspace.aspAppLaunch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.clovis.cw.workspace.aspAppLaunch"
            icon="icons/ClovisLogo_16_16.gif"
            id="com.clovis.cw.workspace.aspAppLaunchImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="com.clovis.cw.workspace.launcher.ASPAppTab"
            group="com.clovis.cw.workspace.aspAppLaunchTabGroup"
            id="com.clovis.cw.workspace.aspAppTab"
            name="ASP Configuration">
      </tab>
   </extension>
</plugin>
