<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/stylesheets/style.css" />
		<script type="text/javascript">
			
			function checkIfSame() {
				
				var txtPW1 = document.forms["create"].password.value;
				var txtPW2 = document.forms["create"].password2.value;
				
				if (txtPW1 == txtPW2) {
					if (txtPW2 != "") {
						if (txtPW1.length <= 5) {
							document.getElementById("imgPwSame").src="/static/images/error.png";
						} else {
							document.getElementById("imgPwSame").src="/static/images/check.png";
						}
					}
				} else {
					if (txtPW2 != "") {
						document.getElementById("imgPwSame").src="/static/images/error.png";
					}
				}
			}
			
			</script>
		
	</head> 
	<body>
		<div><h2>Please choose a new password for {{ account }}</h2></div>
		<form id="create" name="create" method="post" action="/doreset">
			<table>
				<tr>
					<td>Password:</td>
					<td><input name="password" type="password" id="password" onChange="checkIfSame();" /></td>
					<td><input name="password2" type="password" id="password2" onChange="checkIfSame();" /></td>
					<td><img src="/images/blank.png" id="imgPwSame" width="16"></td>
				</tr>

				<tr>
					<td><input name="Create" type="submit" id="Create" value="Reset" /></td>
				</tr>
			</table>
			<input name="u" type=hidden value="{{ u }}">
			<input name="k" type=hidden value="{{ k }}">
		</form>
		
		<div>Passwords must be 6 or more characters</div>
		
	</body>
</html>
