<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/style.css" />
</head> 
   <body>

	<div><h2>Forgot Password</h2></div>

	<form action="/forgot" method="post">
		<h4>Please enter the email address of the account</h4>
		<div>Email: <input name="email" type="text" id="email" ></div>
		<br />
		<div><input name="submit" type="submit" ></div>
    </form>


    <!-- footer -->

    <a href="{{ url1 }}">{{ url1_linktext }}</a><br />
    <a href="{{ url2 }}">{{ url2_linktext }}</a><br />
    <a href="{{ url3 }}">{{ url3_linktext }}</a><br />

  </body>
</html>
