<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>OpenClovis IDE License Server</title>

<script language="JavaScript">

browser_version= parseInt(navigator.appVersion);
browser_type = navigator.appName;

if (browser_type == "Microsoft Internet Explorer" && (browser_version >= 4)) {
document.write("<link REL='stylesheet' HREF='../static/stylesheets/default.css' TYPE='text/css'>");
} 
else if (browser_type == "Netscape" && (browser_version >= 4)) {
document.write("<link REL='stylesheet' HREF='../static/stylesheets/default_FF.css' TYPE='text/css'>");
}
else {
document.write("<link REL='stylesheet' HREF='../static/stylesheets/default_FF.css' TYPE='text/css'>");
}

</script>
<style>
P
{
 margin: 0px;
 padding: 0px;
}
</style>

</head>

<body>
<div align="center" id="Clovis">
  <div id="Header">
    <table width="100%"  cellspacing="0" cellpadding="0" >
      <tr>
        <td width="200px">
          <a href="http://www.openclovis.com"><img src="../static/images/openclovis_logo.gif" width="172" height="50" hspace="0" vspace="0" border="0"/></a>
        </td>
        <td width="600px" class="Navglobal">
        </td>
      </tr>
    </table>
  </div>
  <div id="Nav"><img src="../static/images/nav_home.gif"  name="Nav_products" width="798" height="19" border="0" usemap="#Nav_productsMap" /></div>
  <div id="Contant">

    <table width="798" style="text-align: justify" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="578" style="padding-left:20px; padding-top:35px; padding-right:10px;" valign="top">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td colspan="2">OpenClovis IDE is an <a href="http://www.eclipse.org" target="_blank">Eclipse</a>-based integrated development environment designed to simplify and accelerate the integration of COTS High Availability and Management middleware solutions with your system and applications.  Coupled with OpenSAF or the OpenClovis SA-Forum compliant middleware platforms, this intuitive software solution streamlines the process of specifying the information model, the high availability (HA) aspects and the communications infrastructure of a tightly coupled distributed system.  Modeling of system resources and relationships are specified using a graphical <a href="http://www.uml.org" target="_blank">UML</a> editor.</td>  The OpenClovis IDE stores all information describing a project in well defined <a href="http://www.xml.org" target="_blank">XML</a> files that can be directly modified by the user. 
            </tr>
            <tr>
              <td colspan="2" height="10"></td>
            </tr>
            <tr>
              <td rowspan="3"><a href="../static/images/cw_comp_editor.png" target="_blank"><img src="../static/images/pic_componenteditor.gif" alt="Component Editor-Click to View Original Image" width="240" height="200" title="Component Editor-Click to View Original Image" border="0" /></a>
              </td>
              <td>This powerful software solution enables developers to rapidly create an information model of system resources, and generate customized configuration and code for the OpenSAF or OpenClovis middleware platform. You can even switch between the two middleware implementations without changing your system definition.  In addition, OpenClovis IDE also provides the capability to generate, compile and deploy the code to the target system under development.</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td><p>The <a href="http://www.eclipse.org" target="_blank">Eclipse</a>-based graphical  user interface streamlines the process of system modeling, information  modeling, and product development on the OpenSAF or OpenClovis middleware platform. Modeling of  components and their relationships such as containment, aggregation, and  inheritance can be edited using a graphical <a href="http://www.uml.org" target="_blank">UML</a> editor. Model artifacts are reusable across multiple projects, shortening development time and increasing design team efficiency.</p></td>
            </tr>
            <tr>
              <td colspan="2" height="10"></td>
            </tr>
            <tr>
              <td colspan="2">OpenClovis IDE provides two views: the physical (resource) view, and the logical (component) view. These two views are linked, delivering a high level of visibility into the system under development.</td>
            </tr>
            <tr>
              <td colspan="2" height="10"></td>
            </tr>
            <tr>
              <td colspan="2">The physical (resource) view clearly displays the chassis, blades, daughtercards, network ports, other devices, and the software entities running on the displayed hardware. The physical containment hierarchy is used to define the Managed Object (MO) tree, and to derive the MO path (addressing) information.</td>
            </tr>
            <tr>
              <td colspan="2" height="10"></td>
            </tr>
            <tr>
              <td colspan="2">The logical (component) view displays service availability of the system, using concepts such as cluster, nodes, service units, service groups, service instances, proxy components, non-proxy components, and proxied components.</td>
            </tr>
            <tr>
              <td colspan="2" height="10"></td>
            </tr>
          </table>
	</td>

        <td width="200" valign="top" style="padding-left:10px; padding-top:35px; padding-right:20px;" align="left">
<!-- Start of RHS Table -->
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:0px;" class="News">
            <tr>
              <td colspan="2" style="text-align: center; padding-bottom: 20px"><b>IDE License Server</b></td>
            </tr>
          <form action="/login" method="post">
            <tr>
              <td>E-mail:</td>
              <td> <input type="text" name="email" value=""/> </td>
            </tr>
            <tr>
              <td>Password:</td>
              <td> <input type="password" name="password" value=""/> </td>
            </tr>
            <tr>
              <td></td>
              <td> <input type="submit" name="submit" value="Sign in"/> </td>
            </tr>
          </form>
            <tr>
              <td colspan="2" style="height: 30px"></td>
            </tr>
            <tr>
              <td colspan="2" style="height: 30px; padding: 5px 0px 5px 0px;border-top: 2px solid #BBBBBB"></td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: center"><a href="/forgot">Forgot password</a></td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: center; padding-top: 5px"><a href="/create"><b>Create new account</b></a></td>
            </tr>
            <tr>
              <td colspan="2" style="height: 30px"></td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: center; padding-top: 5px"><a href="/download"><b>Download OpenClovis IDE</b></a></td>
            </tr>

          </table>
          <!-- End of RHS Table -->
        </td>
      </tr>
    </table>
    <!-- End of Container Table -->
  </div>
  <div id="Footer"> <img src="../static/images/bg_gray.gif" height="1" width="798" /> <span><img src="../static/images/txt_copyright.gif" width="187" height="29" border="0" usemap="#map_privacy"/></span></div>
</div>
<map name="Nav_productsMap" id="Nav_productsMap">
<area shape="poly" coords="32,1,22,18,95,18,105,1" href="http://www.openclovis.com/aboutus/index.htm"/>
<area shape="poly" coords="107,1,98,18,176,18,187,1" href="http://www.openclovis.com/products/index.htm" alt="Products"/>
<area shape="poly" coords="189,1,179,18,266,18,277,1" href="http://www.openclovis.com/customers/index.htm"/>
<area shape="poly" coords="278,1,268,18,373,18,384,1" href="http://www.openclovis.com/marketfocus/index.htm"/>
<area shape="poly" coords="385,1,375,18,472,18,484,1" href="http://www.openclovis.org/"  target="_blank"/>
<area shape="poly" coords="487,1,476,18,611,18,622,1" href="http://www.openclovis.com/knowledgecenter/index.htm"/>
<area shape="poly" coords="624,1,614,18,764,18,776,1" href="http://www.openclovis.com/support/index.htm"/>
</map> 
<map name="map_privacy" id="map_privacy">
  <area shape="rect" coords="10,14,76,32" href="http://www.openclovis.com/termsofuse.htm" />
  <area shape="rect" coords="82,12,148,34" href="http://www.openclovis.com/privacypolicy.htm" />
</map>
</body>
</html>
