<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/stylesheets/style.css" />
	</head> 
	<body>
        
        <div id="layout-middle">
            
            <h2>Admin - Most Active Users</h2>
            <ul>
                <li><a href='/dashboard'>Dashboard</a></li>
            </ul>
            
            
            
            <table border="1" width="400" cellpadding="3" cellspacing="3">
                
                
                {{ table_content }}
                
                <!-- EX: array of
                 <tr>
                 <td>{{ email_1 }}</td>
                 <td>{{ edit_link_1 }}</td>
                 </tr>
                 -->
                
            </table>
            
            
        </div>
        
        <br />
        <p>{{ logout_link }}</p>
        
	</body>
</html>