<?xml version='1.0'?>
<project name="Configure" default="all">
<!-- Configure -->	
<target name="script">
    <exec dir="${model.path}" executable="${script.file}" failonerror="true">
    	<arg line="${model.name}"/>
    	<arg line="${asp.loc}"/>
    	<arg line="${config.option1}"/>
    	<arg line="${config.option2}"/>
    	<arg line="${config.option3}"/>
    	<arg line="${config.option4}"/>
    	<arg line="${config.option5}"/>
    	<arg line="${config.option6}"/>
    	<arg line="${config.option7}"/>
    	<arg line="${config.option8}"/>
    	<arg line="${model.path}"/>
    </exec>	
</target>
<!--
Target to Configure build configurations.
-->
<target name="all"
    depends="script"/>
    <echo>Configure started for ${model.name}</echo>
</project>
