<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.clovis.cw.data"
   name="OpenClovis Data Plug-in"
   version="3.0"
   provider-name="OpenClovis"
   class="com.clovis.cw.data.DataPlugin">

   <runtime>
       <library name="com.clovis.cw.data.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
   	  <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="com.clovis.common.utils"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
   </requires>
	<extension
         id="ClovisWorks"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.workbench"
            description="%productBlurb"
            name="%productName">
         <property
               name="aboutImage"
               value="ClovisLogo_32_32.gif"/>
         <property
               name="aboutText"
               value="%productBlurb"/>
         <property
               name="windowImages"
               value="ClovisLogo_16_16.gif"/>
         <property
               name="appName"
               value="ClovisWorks"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="welcomePage"
               value="$nl$/welcome.xml"/>
      </product>
   	</extension>
</plugin>
