
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=++=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+==+=*/
/* OpenClovis  Website Cascading Style Sheet					
	© Copyright 2006-2007.  	
	» Site design by Multimediastudio Ltd | www.multimediastudio.com | info@multimediastudio.com										
This Stylesheet has been tested for compliance with IE 6.0+, NS 7.0+, Opera 6.0+, Mozilla Firefox 1.5.0.3 */			
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=++=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+==+=*/


/* Redefined Markups */
body{ /* Page Body */
   background-color:#F0F0F0; 
   font-family:arial; 
   text-align:center;
   color:#333; 
   font-size:11px; 
   margin:0px;
   padding:0px;
   }
a{ 
   text-decoration:none; 
   color: #1468B1;
   }
#Clovis{
   margin:0px;
   padding:0px;
   width:798px;
   }
 /* Header contains Logo and Global Navigations */
#Header{ 
   width:798px; 
   background-color:#FFFFFF; 
   padding:0px; 
   text-align:left;
   }
 #Header img{
   padding: 20px 20px 30px 20px;
   }  
 .Navglobal{
   font-family: Trebuchet MS;
   text-align: right; 
   padding:27px 50px 0px 0px;
   color: #1468B1;
   }
  .Navglobal a{
   color:#787878;
   padding: 1px;
   }
   .Navglobal a:hover{
     color:#1468B1;
	 padding: 1px;
	 }
 /* Divisions with main menu navigation */
#Nav{
   width:798px; 
   padding-bottom:13px; 
   background-color:#FFFFFF;
   }
 /* Content of Home page */
#Contant{
   width:798px; 
   background-color:#FFFFFF; 
   padding-top:10px;
   margin:0px;
   }
  .Imgopen{
     position:relative;
	 left: 2px;
	 }
  .Opensrc{ 
     text-align:left; 
     padding:0px 0px 0px 10px;
     }
    .Opensrc img{
        padding:0px 0px 10px 0px;
        }
  .Lorem{
     padding:0px 20px 0px 120px; 
     text-align:left; 
     font-size:13px;
     }
    .Lorem b{
       color:#1374B4;
       }
    .Lorem div{
       color:#1468B1; 
       font-size:11px; 
       padding-top:6px;
       }
	 .News{
	   padding-right:20px;
	   width:210px;
	   vertical-align:top;
	   }
  .backimg{
     background-image:url(images/bg_line.gif); 
     background-repeat:repeat-x;
     }
  .platform{
     padding:0px 0px 0px 0px; 
     vertical-align:top;
	 color:#666666;
	 position:relative;
	 left:-23px;
     }
    .platform b{
       font-size:12px;
       }
  .Divider{
     background-image:url(images/line_divider.gif); 
     background-repeat:repeat-x; height:2px;
     }
   .Divider img{
      padding-top:19px;
	  }
	.Divider span{
	  position:relative;
	  top:-7px;
	  } 
	.vspace{
	   widows:0px;
	   } 
  
input{
    font-size: 9px;
	font-family:Arial;
	margin-top:4px;
	padding-left:2px;
	position:relative;
	top:-6px;
	}
/* footer page */
#Footer{
   width:798px; 
   background-color:#FFFFFF; 
   text-align:left; 
   font-size:10px;
   margin:0px;
   padding:0px;
   }
  #Footer span{
    padding:10px 10px;
	position:relative;
	top:4px;
    }
  #Footer a{
    padding:10px 20px;
	vertical-align:top;
	position:relative;
	left: 302px;
	top:4px;
	}
   .Multimedia{
     position:relative;
	 left:25px;
	 }

/* Content of product page */
#Products_Content{
   text-align:left; 
   width:798px; 
   background-color:#FFFFFF; 
   padding:0px; 
   margin:0px; 
   vertical-align:top;
   }
  .Clintimage{
     background-image:url(images/bg_client.gif); 
     background-repeat:no-repeat; 
     vertical-align:top;
     }
   .Clintimage div{ 
      padding:5px 15px 15px 10px;
      }
   .Mail a{
     color:#333;
	 }
  .Image{
    padding:4px;
    }
  .Image1{
    padding:6px 0px 12px 10px;
	}
  .Business{
    padding-right: 20px;
	vertical-align: top;
    }
   .Business img{
     padding:5px 0px 7px 0px;
     }
  .Overview{ 
    font-family:Trebuchet MS; 
    font-size:12px; 
    position:relative; 
    left:-4px;
    }
   .Overview span a{
      color:#1468B1;
     }
   .Overview a{
      color:#333;
	  }
 ul{
     list-style-image:url(images/blt_plus.gif);
	 list-style-position:outside;
	 position:relative;
	 left:-23px;
	 padding:10px 0px;
	 }
  .space{
    position:relative;
    top:5px;
    }
  .more{
    padding-top:5px;
	}
  .maintxt{
     font-size:12px;
	 }
  .imgs{
     float:left;
	 padding:5px 20px 0px 0px;
	 }
   .subtxt{
     padding-left:10px;
	 position:relative;
	 left:-10px;
	 }
	.subtxt b{
	  font-family:Trebuchet MS;
	  }
	  .subtxt1{
     padding-left:10px;
	 position:relative;
	 left:-10px;
	 }
	.subtxt1 b{
	  font-family:Trebuchet MS;
	  color:#666666;
	  font-size:12px;
	  
	  }
.Subproducts li{
    padding:3px 0px;
	list-style-image:url(images/blt_greenplus.gif);
	}
 li a{
      color:#1468B1;
	  font-weight:500;
	  }
  SA li{
        position: relative;
		left:-20px;
		}
 .images1{
   padding-left:20px;
   }
    
 .Paragraph
 {
  padding-bottom: 10px;
 }
 .p
 {
  padding-bottom:0px !important;
  margin-bottom:10px !important;
 }
  #VisitGlobalComm1
 {
  width: 337px !important;
 }
 #VisitGlobalComm
 {
  width: 360px !important;
 }
  .nodemanageability
  {
   padding-left: 89px;
  } 
 
