<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.clovis.cw.editor.ca"
   name="OpenClovis Ca Plug-in"
   version="3.0"
   provider-name="OpenClovis"
   class="com.clovis.cw.editor.ca.CaPlugin">

   <runtime>
      <library name="com.clovis.cw.editor.ca.jar">
         <export name="*"/>
      </library>
      <library name="lib/ireasoning/ireasoningsnmp.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="com.clovis.common.utils"/>
      <import plugin="com.clovis.cw.genericeditor"/>
      <import plugin="com.clovis.cw.data"/>
      <import plugin="org.eclipse.draw2d"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.emf"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>
	
	<extension
         point="org.eclipse.ui.editors">
      <editor
            name="Resource Editor"
            default="false"
            icon="icons/resource.gif"
            extensions="resource"
            class="com.clovis.cw.editor.ca.ClassAssociationEditor"
            contributorClass="com.clovis.cw.genericeditor.actions.GEActionBarContributor"
            id="com.clovis.cw.editor.resource">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Component Editor"
            default="false"
            icon="icons/component.gif"
            extensions="comp"
            class="com.clovis.cw.editor.ca.ComponentEditor"
            contributorClass="com.clovis.cw.genericeditor.actions.GEActionBarContributor"
            id="com.clovis.cw.editor.component">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Manageability Editor"
            default="false"
            icon="icons/manageability.png"
            extensions="man"
            class="com.clovis.cw.editor.ca.manageability.ui.ManageabilityEditor"
            id="com.clovis.cw.editor.manageability">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.clovis.cw.editor.ca.pm.PMEditor"
            icon="icons/pm.png"
            id="com.clovis.cw.editor.pm"
            name="Performance Monitoring Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
       <view
            name="Mib File Explorer"
            category="com.clovis.cw.bootmanager"
            class="com.clovis.cw.editor.ca.view.MibTreeView"
            id="com.clovis.cw.editor.ca.views.mibtreeView">
       </view>
   </extension>
   <extension point="org.eclipse.ui.commands">
   <command id="com.clovis.cw.ui.dialog.menus.new"
            defaultHandler="com.clovis.cw.editor.ca.dialog.handler.NewMenuHandler"
            name="New"
            description="New Action Menu" />
    <command id="com.clovis.cw.ui.dialog.menus.delete"
            defaultHandler="com.clovis.cw.editor.ca.dialog.handler.DeleteMenuHandler"
            name="Delete"
            description="Delete Action Menu" />
    <command id="com.clovis.cw.ui.dialog.menus.duplicate"
            defaultHandler="com.clovis.cw.editor.ca.dialog.handler.DuplicateMenuHandler"
            name="Duplicate"
            description="Duplicate Action Menu" />                
 </extension>
 <extension point="org.eclipse.ui.menus">
   <menuContribution locationURI="popup:#PreferenceDialogContext?after=additions">
     <command commandId="com.clovis.cw.ui.dialog.menus.new"/>
     <command commandId="com.clovis.cw.ui.dialog.menus.duplicate"/>                 
     <command commandId="com.clovis.cw.ui.dialog.menus.delete"/>
   </menuContribution>
 </extension>
</plugin>
