/**
 ************************************
 *  \brief
 *
 *  \par Header File:
 *   foo.h
 *
 *  \param 
 *  \param 
 *  \param 
 *  \param 
 *  \param 
 *
 *  \return 
 * 
 *  \retval 
 *  \retval 
 *  \retval 
 *  \retval 
 *
 *  \par Description:
 *  Detailed desciption 
 *
 *  \par Library File:
 *   foo
 *
 *  \sa bar()
 *
 */
